<div class="mainContent">
	<div class="greyContent boxShadow paddingLR-10px" style="text-align: left;">
		<article id="restaurantDetail" class="clearfix size-7 pad-2 mgTop-20px mgBottom-10px">
			<input id="latitude_hid" type="hidden" value="<%= @Latitude %>"/>
			<input id="longitude_hid" type="hidden" value="<%= @Longitude %>"/>
			<header>
				<h1><%= @Name %></h1>
				<h6><i><%= @Tags %></i></h6>
				<br/>
				<span class="RestaurantImageView">
					<ul class="imgList">
						<% @Images.each do |img| %>
							<li class="imgthumbnail"><a href="<%= img %>" data-lightbox="restaurantImg"/><img src="<%= img %>" width="40px" height="40px"/></a></li>
						<% end %>
					</ul>
				</span>
			</header>
			<section id="restaurantDetailsPromotionContent" data-corner="bevel tl cc:#fff 20px keep">
				<h3 class="inlineText">VIPbite DEAL:</h3>
				<h2 class="inlineText"><%= @Deal %></h2>
				<br/>
				<p class="mgTop-10px"><%= @Detail %></p>
				<br/>
				<div class="size-10" style="padding: 5px 0px 2px;">
					<a id = "RestaurantTweetButton" class="twitterpopup" href="https://twitter.com/share?url=<%= request.original_url%>&text=<%= @Name %> deals&via=VIPbite&tw_p=tweetbutton">
						<h3 style="line-height: 1px;"><img src="/Image/Shared/whiteTwitter.png" width="15px;" heihgt="15px;" style="vertical-align: middle"/>
							<label class="inlineText clickable">TWEET THIS DEAL</label>
						</h3>
					</a>
				</div>
			</section>
			<section id="restaurantDetail">
				<ul>
					<li>
						<p class="size-7 boldFont">RESERVATION:</p>
						<p class="size-10" style="line-height: 1.0"><%= @Reservation %></p>
					</li>
					<li>
						<p class="size-7 boldFont">PHONE:</p>
						<p class="size-10" style="line-height: 1.0"><%= @Phone %></p>
					</li>
					<li>
						<p class="size-7 boldFont">HOUR:</p>
						<p class="size-10" style="line-height: 1.0"><%= @Hours %></p>
					</li>
					<li>
						<p class="size-7 boldFont">ADDRESS:</p>
						<p class="size-10" style="line-height: 1.0"><%= @Address %></p>
					</li>
					<li>
						<p class="size-7 boldFont">WHY WE LOVE <%= @Name %>:</p>
						<p class="size-10" style="line-height: 1.0"><%= @Comment %></p>
					</li>
					<li>
						<p class="size-7 boldFont">WEBSITE:</p>
						<p class="size-10" style="line-height: 1.0"><%= @RestaurantLink %></p>
					</li>
				</ul>
			</section>
			<hr/>
			<section id="urbanspoonDetail">
				<a href="http://www.<%= @urbanspoonlink%>" target="_blank"><img src="/Image/Shared/urbanspoon.png" style="img-align:center"/></a>
				<p><%=@urbanspoonreview %></p>
			</section>
			<hr/>
		</article>
		<article class="clearfix size-11 mgTop-20px mgBottom-10px">
			<span id="googleMap" class="searchMapStyle">TEST</span>
			<hr/>
			<section id="GetApp" class="fRight size-10">
				<section class="fLeft size-7 mgTop-20px">
					<img src="/Image/Shared/yycPass.png" width="100%" height="60%"/>
					<img src="/Image/Shared/appstore.png" width="45%" height="30%"/>
					<img src="/Image/Shared/googleplay.png" width="45%" height="30%"/>
				</section>
				<article class="fLeft size-12 mgTop-20px">
					<h3 class="boldFont mgLeft-5px" style="font-size: 1.6em;">GET THE APP</h3>
					<p class="mgLeft-10px">Find vipbite partner restaurant, flash the vipbite card when dining. The vipbite app is your passport to outstanding dining experience.</p>
				</artivle>
			</section>
		</article>
	</div>
</div>

<script>
	$(window).bind("ready", function() {
		var latitude = $("#latitude_hid").val();
		var longitude = $("#longitude_hid").val();

		InitWithLocation(latitude, longitude);
		$("#restaurantDetailsPromotionContent").corner();
	});
</script>