<div class="navigation">
		<a href="/"><img src="/Image/mobile/nav/item1ns.png" alt="img"><em class="under-icon-text">Home</em></a>
		<a href="/mobile/search"><img src="/Image/mobile/nav/item2ns.png" alt="img"><em class="under-icon-text">Search</em></a>
		<a href="/mobile/map"><img src="/Image/mobile/nav/item3ns.png" alt="img"><em class="under-icon-text">Map</em></a>
		<a class="selected" href="/mobile/login"><img src="/Image/mobile/nav/item5ns.png" alt="img"><em class="under-icon-text">My Account</em></a>
</div>

<div class="contentWrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="tagline">
					<h2>Become A Member</h2>
					<section class="registerForm">
						<%= form_tag( {controller: 'mobile', action: 'login', method: 'post'}, :class=>"login-form") do %>
							<%= text_field_tag('firstName', nil, maxlength: 30, size: 30, placeholder: "First Name", :class=>"registrationInput") %>
							<%= text_field_tag('lastName', nil, maxlength: 30, size: 30, placeholder: "Last Name", :class=>"registrationInput") %>
							<div class="inputLabel">Select Title:</div>
							<%= select_tag('userTitle', options_for_select(["MR.", "MRs.", "MS."]), :class=>"registrationInput") %>
							<%= email_field_tag('email', nil, maxlength: 30, size: 30, placeholder: "Email", :class=>"registrationInput") %>
							<%= password_field_tag('password', nil, maxlength:20, size: 30, placeholder: "Password", :class=>"registrationInput") %>
							<%= password_field_tag('cfm_password', nil, maxlength:20, size: 30, placeholder: "Confirm Password", :class=>"registrationInput") %>
							<h4 class="">Payment &amp; Billing Information</h4>
							<div class="inputLabel">Length:</div>
							<div class="clear"></div>
							<%= radio_button_tag('memberType', '6months', :class=>"registrationInput") %>
							<label for="memberType_6months">6 Months</label>
							<%= radio_button_tag('memberType', '12months', :class=>"registrationInput") %>
							<label for="memberType_12months">12 Months</label>
							<%= text_field_tag('noc_firstName', nil, maxlength: 30, size: 30, placeholder: "First Name", :class=>"registrationInput") %>
							<%= text_field_tag('noc_lastName', nil, maxlength: 30, size: 30, placeholder: "Last Name", :class=>"registrationInput") %>
							<div class="inputLabel">Select Card:</div>
							<%= select_tag('cardtype', options_for_select(["VISA", "MASTERCARD", "AMERICANEXP"]), :class=>"registrationInput") %>
							<%= text_field_tag('cardno', nil, maxlength: 20, size: 30, placeholder:"Card Number", :class=>"registrationInput")%>
							<%= text_field_tag('exp_month', nil, maxlength: 2, placeholder: "MM", :class=>"registrationInput")%>
							<%= text_field_tag('exp_year', nil, maxlength: 4, placeholder: "YYYY", :class=>"registrationInput")%>
							<%= password_field_tag('cvv', nil, maxlength: 3, placeholder:"CVV", :class=>"registrationInput")%>
							<%= text_field_tag('unitno', nil, maxlength: 60, size: 30, placeholder:"Unit Number", :class=>"registrationInput")%>
							<%= text_field_tag('address', nil, maxlength: 60, size: 30, placeholder:"Address", :class=>"registrationInput") %>
							<%= text_field_tag('city', nil, maxlength: 20, size: 30, placeholder:"City", :class=>"registrationInput") %>
							<div class="inputLabel">Select Province:</div>
							<%= select_tag('prov', options_for_select(["AB", "BC"]), :class=>"registrationInput") %>
							<%= text_field_tag('postal', nil, maxlength: 7, size: 30, placeholder: "Postal Code", :class=>"registrationInput") %>
							<%= text_field_tag('phone', nil, maxlength: 11, size: 30, placeholder: "Phone Number", :class=>"registrationInput") %>
							<%= submit_tag('REGISTER', :class=>"button") %></span>
						<% end %>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>