<div class="mainContent clearfix"> <!-- Converted all of this to float with size!!! -->
	<div class="greyContent boxShadow paddingLR-10px" style="text-align:left"> <!-- convert this to used a ckass -->
		<article id="registrationForm" class="clearfix pad-4">
				<section class="size-20 grid-column mgTop-20px">
				<%= form_tag(controller: 'account', action: 'newUserScuscription', method: "post") do %>
					<h1>BECOME A MEMBER</h1>
					<hr class="mgTop-10px mgBottom-10px"/>
					<h4 class="">MEMBER INFORMATION</h4>	
					<table class="">
						<tr class="mgTop-10px mgBottom-10px">
							<th><label>FIRST NAME:</label></th>
							<th><label> LAST NAME:</label></th>
						</tr>
						<tr>
							<td><%= text_field_tag('firstName', params[:firstName] || nil, maxlength: 30, size: 30, :class=>"registrationInput") %></td>
							<td><%= text_field_tag('lastName', params[:lastName] || nil, maxlength: 30, size: 30, :class=>"registrationInput") %></td>
						</tr>
						<tr>
							<th><label> TITLE:</label></th>
							<th><label>EMAIL:</label></th>
						</tr>
						<tr>
							<td><%= select_tag('userTitle', options_for_select(["MR.", "MRs.", "MS."]), :class=>"registrationInput") %></td>
							<td><%= email_field_tag('email', params[:email] || nil, maxlength: 30, size: 30, :class=>"registrationInput") %></td>
						</tr>
						<tr>
							<th><label>PASSWORD:</label></th>
							<th><label>CONFIRMED PASSWORD:</label></th>
						</tr>
						<tr>
							<td><%= password_field_tag('password', nil, maxlength:20, size: 30, :class=>"registrationInput") %></td>
							<td><%= password_field_tag('cfm_password', nil, maxlength:20, size: 30, :class=>"registrationInput") %></td>
						</tr>
					</table>
					<hr class="mgTop-10px mgBottom-10px"/>
					<h4 class="">PAYMENT & BILLING INFORMATION</h4>
					<label class="mgRight-20px" style="font-weight:bold;">MEMBERSHIP TYPE:</label>
					<%= radio_button_tag('memberType', '6months', :class=>"registrationInput") %>
					<label class="mgLeft-10px mgRight-20px">6 months -$69.95</label>
					<%= radio_button_tag('memberType', '12months', :class=>"registrationInput") %>
					<label class="mgLeft-10px mgRight-20px">12 months -$124.95</label>
					<table class="mgTop-5px">
						<tr>
							<th><label>FIRST NAME:</label></th>
							<th><label>LAST NAME:</label></th>
						</tr>
						<tr>
							<td><%= text_field_tag('noc_firstname', params[:noc_firstname] || nil, placeholder: "Firstname", maxlength: 30, size: 30, :class=>"registrationInput") %></td>
							<td><%= text_field_tag('noc_lastname', params[:noc_lastname] || nil, placeholder: "Lastname", maxlength: 30, size: 30, :class=>"registrationInput") %></td>
						</tr>
						<tr>
							<th><label>CARD TYPE:</label></th>
							<th><label>CARD NUMBER:</label></th>
						</tr>
						<tr>
							<td><%= select_tag('cardtype', options_for_select(["VISA", "MASTERCARD", "AMERICANEXP"]), :class=>"registrationInput") %></td>
							<td><%= text_field_tag('cardno', nil, maxlength: 20, size: 30, :class=>"registrationInput")%></td>
						</tr>
						<tr>
							<th><label>EXP:</label></th>
							<th><label>CVV/CID NUMBER:</label></th>
						</tr>
						<tr>
							<td>
								<%= text_field_tag('exp_month', nil, maxlength: 2, placeholder: "MM", :class=>"registrationInput", :size=> 2)%>
								<%= text_field_tag('exp_year', nil, maxlength: 4, placeholder: "YYYY", :class=>"registrationInput", :size=> 4)%>
							</td>
							<td><%= password_field_tag('cvv', nil, maxlength: 3, :class=>"registrationInput", :size=> 30)%></td>
						</tr>
						<tr>
							<th><label>BILLING ADDRESS:</label></th>
							<th><label>UNIT NO.</label></th>
						</tr>
						<tr>
							<td><%= text_field_tag('unitno', params[:unitno] || nil, maxlength: 60, size: 30, :class=>"registrationInput")%></td>
							<td><%= text_field_tag('address', params[:address] || nil, maxlength: 60, size: 30, :class=>"registrationInput") %></td>
						</tr>
						<tr>
							<th><label>CITY:</label></th>
							<th><label>PROVINCE:</label></th>
						</tr>
						<tr>
							<td><%= text_field_tag('city', params[:city] || nil, maxlength: 20, size: 30, :class=>"registrationInput") %></td>
							<td><%= select_tag('prov', options_for_select(["AB", "BC"]), :class=>"registrationInput") %></td>
						</tr>
						<tr>
							<th><label>POSTAL:</label></th>
							<th><label>PHONE:</label></th>
						</tr>
						<tr>
							<td><%= text_field_tag('postal', params[:postal] || nil, maxlength: 7, size: 30, :class=>"registrationInput") %></td>
							<td><%= text_field_tag('phone', params[:phone] || nil, maxlength: 11, size: 30, :class=>"registrationInput") %></td> <!-- not required -->
						</tr>
					</table>
					<hr class="mgTop-10px mgBottom-10px"/>
					<div class="fRight"><span style="float:right"><%= submit_tag('REGISTER', :class=>"accountButton clickable") %></span></div>
				<%end%>		
			</section>
		</article>
		<article class="celarfix mgLeft-40px">
			<section class="mgTop-20">
				<h3> VIP FOOD AND BERVERAGE RELATED</h3>
				<h3> DONT FORGET THE APP IMAGE GOES HERE!!</h3>
			</section>
		</article>
	</div>
</div>