<!DOCTYPE html>
<html>
	<head>
		<title>VIP Bite - Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="//use.typekit.net/zrr2vfn.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<!-- Section used for protection-->
		<%= csrf_meta_tags %>


		<%= stylesheet_link_tag '/css/bootstrap.min' %>
		<%= stylesheet_link_tag '/css/style' %>
		<%= stylesheet_link_tag '/css/buttons' %>
		<%= stylesheet_link_tag '/css/type' %>
		<%= stylesheet_link_tag '/css/add2home' %>
		<%= stylesheet_link_tag '/css/flexslider' %>
		<%= stylesheet_link_tag '/css/photoswipe' %>

		<%= javascript_include_tag '/scripts/jquery.js' %>
		<%= javascript_include_tag '/scripts/jquery.flexslider-min.js' %>
		<%= javascript_include_tag '/scripts/custom.js' %>
		<%= javascript_include_tag '/scripts/bootstrap.min.js' %>
	</head>

	<body>
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-sm-12"><img class="logo" src="/Image/mobile/logo.png" alt="img"></div>
				</div>
			</div>
		</div>
		<%= yield %>
	</body>
</html>