<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="user-scalable=no, width=device-width" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="apple-mobile-web-app-capable" content="yes">

	<!-- Section used for protection-->
	<%= csrf_meta_tags %>

	<!-- INCLUDING STYLESHEET -->
	<%= stylesheet_link_tag 'application', :media => 'all'%>

	<!-- INCLUDING JAVASCRIPT -->
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'application' %>
	
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
	<title>VIPBITE</title>
</head>

<body>
	<header>
		<div id="staticHeader">
			<div id="loginContainer"class="mainContent clearfix">
				<nav><ul compact>
					<% if(checkUserCookies) %>
						<li>
							<section>
								<a href="/account/user" class="loginLink"><%= @current_user.login %></a>
								<a href="/session/logout" class="loginLink">Logout</a>
							</section>
						</li>
					<%else%>
						<li class="block">
							<%= form_tag( controller: 'session', action: 'LogIn', method: 'post') do %>
								<table>
									<tr>
										<th><label class="loginLabel inlineBlock">Email </th>
										<th><label class="loginLabel inlineBlock">Password </th>
									</tr>
									<tr>
										<td><%= email_field_tag('email', nil, maxlength: 30,:class=>"loginInput inlineBlock text-left") %></td>
										<td><%= password_field_tag('password', nil, maxlength:20, :class=>"loginInput inlineBlock text-left") %></td>
										<td><%= submit_tag('Login', :class=>"loginButton inlineBlock clickable")%></td>
									</tr>
									<tr>
										<td><p class="loginLink">checkbox+Keep me logged in</p></td>
										<td><a href="/account/PasswordRecovery" class="loginLink">Forgot Your Password?</a></td>
									</tr>
								</table>
							<%end%>
						</li>
						<li class="block">
						</li>
					<%end%>
				</ul></nav>
			</div>
		</div>
		<div id="menuHeader">
			<div class="mainContent clearfix">
				<nav><ul compact>
					<li>
						<section class="inlineBlock size-7 text-left">
							<a href="/"><img src="/Image/Shared/vipBiteLogo.png" width="100%" height="100px"></a>
						</section>

						<section class="inlineBlock size-12 text-right mgLeft-20px">
							<span class="menuItem inlineBlock"><a href="/restaurant/search" class="f12">FIND A RESTAURANT</a></span>
							<span class="menuItem inlineBlock"><p class="f12">|</p></span>
							<span class="menuItem inlineBlock"><a href="/restaurant" class="f12">HOW IT WORKS</a></span>
							<span class="menuItem inlineBlock"><p class="f12">|</p></span>
							<% if(checkUserCookies) %>
								<span class="menuItem inlineBlock"><a href="/account/renew" class="f12">RE-NEW MEMBERSHIP</a></span>
							<%else%>
								<span class="menuItem inlineBlock"><a href="/account/Registration" class="f12">BECOME A MEMBER</a></span>
							<%end%>
						</section>
					</li>
				</ul></nav>
			</div>
		</div>
	</header>

	<content>
		<%= yield %>
	</content>

	<footer class="mgTop-5px">
		<div id="staticFooter">
			<div class="mainContent clearfix text-Left">
				<nav class="mgTop-10px paddingLR-10px"><ul companct>
					<li class="text-left size-5 pad-6">
						<h4 class="boldFont">VIPbite</h4>
						<p class="mgTop-5px mgBottom-10px">
							VIPbite is a restaurant discount membership program unlike any other food or beverage savings offerings.
							Don't bother waiting for daily deal coupons or other promotions in your area, 
							VIPbite gives you instant access to start saving today on local restaurants in your area.
						</p>
					</li>
					<li class="text-left size-4 pad-5">
						<h4 class="boldFont mgBottom-10px">Social Media</h4>
						<div class="mgTop-14px">
							<img src="/Image/Shared/twitter.png" width="25px" height="25px">
							<img class="mgLeft-5px" src="/Image/Shared/facebook.png" width="25px" height="25px"/>
							<img class="mgLeft-5px" src="/Image/Shared/instargram.png" width="25px" height="25px"/>
							<img class="mgLeft-5px" src="/Image/Shared/gPlus.png" alt="googleplusImg" widht="25px" height="25px"/>
						</div>
						<div class="mgTop-10px mgBottom-10px">
							<a href="https://twitter.com/VIPbite" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @VIPbite</a>
							<a href="https://twitter.com/share" class="twitter-share-button" data-text="VIPbite" data-via="VIPbite">Tweet</a>
						</div>
					</li>
					<li class="text-left size-3 pad-7">
						<h4 class="boldFont">Our Service</h4>
						<ul class="mgBotton-10px">
							<li class="sitemap"><a href="/home/AboutUs"><text class="linkFont">AboutUs</text></a></li>
							<li class="sitemap"><a href="/home/ContactUs"><text class="linkFont">Contact Us</text></a></li>
							<li class="sitemap"><a href="/home/ContactUs"><text class="linkFont">Add Your Restaurant</a></li>
						</ul>
					</li>
					<li class="text-left size-3 fRight">
						<h4 class="boldFont">Our Policies</h4>
						<ul class="mgBotton-10px">
							<li class="sitemap"><a href="/contact"><text class="linkFont">FAQ</text></a></li>
							<li class="sitemap"><a href="/contact"><text class="linkFont">Privacy Statement</text></a></li>
							<li class="sitemap"><a href="/contact"><text class="linkFont">Term of Use</text></a></li>
						</ul>
					</li>
				</ul></nav>
			</div>
		</div>
	</footer>	
</body>
</html>

<script>
!function(d,s,id){
var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id))
{js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}
}(document, 'script', 'twitter-wjs');
</script>
