<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width">
	<!-- Section used for protection-->
	<%= csrf_meta_tags %>

	<!-- INCLUDING STYLESHEET -->
	<%= stylesheet_link_tag 'application', :media => 'all'%>

	<!-- INCLUDING JAVASCRIPT -->
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'application' %>
	
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
	<title>VIPBITE</title>
</head>

<body>
	<header>
		<div id="staticHeader">
			<div id="loginContainer"class="mainContent clearfix">
				<nav><ul compact>
					<% if(checkUserCookies) %>
						<li>
							<section>
								<a href="/account/user" class="loginLink"><%= @current_user.login %></a>
								<a href="/session/logout" class="loginLink">Logout</a>
							</section>
						</li>
					<%else%>
						<li class="block">
							<%= form_tag( controller: 'session', action: 'LogIn', method: 'post') do %>
								<label class="loginLabel inlineBlock">EMAIL: 
								<%= email_field_tag('email', nil, maxlength: 30,:class=>"loginInput inlineBlock") %>
								</label>
								<label class="loginLabel inlineBlock">PASS: 
								<%= password_field_tag('password', nil, maxlength:20, :class=>"loginInput inlineBlock") %>
								</label>
								<%= submit_tag('LOGIN', :class=>"loginButton inlineBlock clickable")%>
							<%end%>
						</li>
						<li class="block">
							<a href="/account/PasswordRecovery" class="loginLink">FORGOT YOUR PASSWORD?</a>
							<text class="loginLink"> | </text>
							<a href="/account/Registration" class="loginLink">REGISTER NOW</a>
						</li>
					<%end%>
				</ul></nav>
			</div>
		</div>
		<div id="menuHeader">
			<div class="mainContent clearfix">
				<nav><ul compact>
					<li>
						<section class="inlineBlock size-5">
							<a href="/"><img src="/Image/Shared/vipBiteLogo.png" width="100%" height="100px"></a>
						</section>

						<section class="inlineBlock size-6 text-right">
							<span class="menuItem inlineBlock"><a href="/restaurant/search" class="f10">FIND A RESTAURANT</a></span>
							<span class="menuItem inlineBlock"><a href="/restaurant" class="f10">HOW IT WORKS</a></span>
							<% if(checkUserCookies) %>
								<span class="menuItem inlineBlock"><a href="/account/renew" class="f10">RE-NEW MEMBERSHIP</a></span>
							<%else%>
								<span class="menuItem inlineBlock"><a href="/account/Registration" class="f10">BECOME A MEMBER</a></span>
							<%end%>
						</section>
					</li>
				</ul></nav>
			</div>
		</div>
	</header>

	<content>
		<%= yield %>
	</content>

	<footer>
		<div id="staticFooter">
			<div class="mainContent clearfix">
				<nav class="mgTop-10px paddingLR-10px"><ul companct>
					<li class="size-3">
						<h4 class="boldFont">VIPbite</h4>
						<p class="mgTop-5px mgBottom-10px mgLeft-5px">
							VIPbite is a restaurant discount membership program unlike any other food or beverage savings offerings.
							Don't bother waiting for daily deal coupons or other promotions in your area, 
							VIPbite gives you instant access to start saving today on local restaurants in your area.
						</p>
					</li>
					<li class="size-3 push-2">
						<h4 class="boldFont mgLeft-10px mgBottom-10px">Social Media</h4>
						<div class="mgTop-10px mgLeft-20px">
							<img src="/Image/Shared/twitter.png" width="25px" height="25px">
							<img class="mgLeft-5px" src="/Image/Shared/facebook.png" width="25px" height="25px"/>
							<img class="mgLeft-5px" src="/Image/Shared/instargram.png" width="25px" height="25px"/>
							<img class="mgLeft-5px" src="/Image/Shared/pinterest.png" width="25px" height="25px"/>
						</div>
						<div class="mgTop-10px mgBottom-10px mgLeft-20px">
							<a href="https://twitter.com/VIPbite" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @VIPbite</a>
							<a href="https://twitter.com/share" class="twitter-share-button" data-text="VIPbite" data-via="VIPbite">Tweet</a>
						</div>
					</li>
					<li class="size-2 push-2">
						<h4 class="boldFont">Our Service</h4>
						<ul class="mgTop-10px mgBotton-10px mgLeft-10px">
							<li class="sitemap"><a href="/home/AboutUs"><text class="linkFont">AboutUs</text></a></li>
							<li class="sitemap"><a href="/home/ContactUs"><text class="linkFont">Contact Us</text></a></li>
						</ul>
					</li>
					<li class="size-2 push-2">
						<h4 class="boldFont">Our Policies</h4>
						<ul class="mgTop-10px mgBotton-10px mgLeft-10px">
							<li class="sitemap"><a href="/contact"><text class="linkFont">FAQ</text></a></li>
							<li class="sitemap"><a href="/contact"><text class="linkFont">Privacy Statement</text></a></li>
							<li class="sitemap"><a href="/contact"><text class="linkFont">Term of Use</text></a></li>
						</ul>
					</li>
				</ul></nav>
			</div>
		</div>
	</footer>	
</body>
</html>

<script>
!function(d,s,id){
var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id))
{js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}
}(document, 'script', 'twitter-wjs');
</script>
